.btn {
  display: inline-block;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s;
  width: 220px; /* Asegúrate de que el ancho sea apropiado para el contenedor */
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: 5px;
}

tbody .td_dias_restantes {
  padding: 5px; /* Ajusta según necesites */
  font-size: x-large;
  font-weight: bold;
  text-align: center; /* Centra horizontalmente */
  vertical-align: middle; /* Centra verticalmente */
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

/* Helvetica Neue Roman */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueRoman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Helvetica Neue Bold Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Helvetica Neue Italic */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/static/fonts/HelveticaNeueItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "HelveticaNeueRoman", sans-serif;
}

h1 {
  font-family: "Trebuchet MS", sans-serif;
}

.modal-body {
  text-align: justify;
  font-family: monospace;
}
/* Estilos según el estado de los días restantes */
tbody .td_dias_restantes.dias-urgente {
  color: white;
}

tbody .td_dias_restantes.dias-alerta {
  color: black;
}

tbody .td_dias_restantes.dias-normal {
  color: white;
}

table.dataTable.table-striped > tbody > tr.odd > td.td_dias_restantes {
  box-shadow: none;
}

/* Estilos específicos para el botón púrpura */
.btn-purple {
  background-color: #717171; /* Púrpura */
}

/* Cambio de color al pasar el mouse */
.btn:hover {
  background-color: #414141; /* Púrpura más claro */
}

.row {
  width: 100%;
}

#tabla_fichas_wrapper {
  width: 100%;
}

.modal.show .modal-dialog {
    min-width: min-content; /* Use min-content by default */
    max-width: 100ch;        /* Set a maximum width of 85ch */
  }

/* Estilo para texto en fuente monoespaciada */
.monospace {
  font-family: "Space Mono", monospace;
  font-family: monospace;
  white-space: pre-wrap; /* Preserve espacios y saltos de línea */
  word-wrap: break-word; /* Rompe palabras largas */
}

/* Estilo para los contenidos de las respuestas */
.respuesta-content {
  white-space: pre-wrap; /* Permitir saltos de línea automáticamente */
  font-weight: normal;
}
  

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px;
  }
}

@media (min-width: 1366px) {
  .modal-dialog {
    min-width: 800px;
  }
}


.mi-enlace {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #ff9800;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease; /* Agregamos color a la transición */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo al pasar el mouse por encima */
.mi-enlace:hover {
  background-color: #ffba68;
  transform: translateY(-2px);
  color: #fff;

}

/* Estilo cuando se hace clic */
.mi-enlace:active {
  transform: translateY(0);
  box-shadow: none;
  color: #fff; /* Mantenemos el color del texto como blanco al hacer clic */
}

/* Establecer una altura mínima para las celdas de la columna de respuestas */
td.respuesta {
  min-height: 200px; /* Ajusta esta altura según tus necesidades */
  
}

/* Establecer un ancho fijo para la columna de respuesta */
.respuesta {
  display: block;
  width: 300px; /* Ajusta este valor según sea necesario */
  overflow: hidden; /* Ocultar el contenido que exceda el ancho */
  white-space: pre-wrap; /* Mantener los saltos de línea */
  text-overflow: ellipsis; /* Agregar puntos suspensivos al final del contenido truncado */
}

/* Estilos para el texto expandido */
.texto-restante {
  display: block; /* Asegurar que el texto expandido se muestre en bloque */
  width: 300px; /* Debe coincidir con el ancho del contenedor cuando está colapsado */
}

/* Color de texto normal */
.respuesta, .texto-restante {
  color: black; /* Color del texto cuando está expandido y contraído */
}

/* Estilos para los enlaces */
.mostrar-mas, .enlace-mostrar, .enlace-ocultar {
  color: blue; /* Color del texto de los enlaces */
  cursor: pointer;
}

.enlace-mostrar:hover, .enlace-ocultar:hover {
  text-decoration: underline; /* Subrayar los enlaces al pasar el cursor */
}


div:where(.swal2-container) .swal2-html-container {  
  text-align: left !important;  
}