{% extends 'core/base.html' %}

{% load static %}

{% block main_content%}
<style>
    .mi-enlace {
      padding: 12px 24px;
      font-size: 18px;
      border-radius: 25px;
      background-color: #ff9800;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease; /* Agregamos color a la transición */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /* Estilo al pasar el mouse por encima */
    .mi-enlace:hover {
      background-color: #ffba68;
      transform: translateY(-2px);
    }
    
    /* Estilo cuando se hace clic */
    .mi-enlace:active {
      transform: translateY(0);
      box-shadow: none;
      color: #fff; /* Mantenemos el color del texto como blanco al hacer clic */
    }
    .custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid #5b5b5b; /* Color de borde */
    background-color: #3e3e3e; /* Color de fondo */
    color: #fff; /* Color de texto */
    border-radius: 5px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

#nombre_archivo_seleccionado {
    display: none;
    margin-left: 10px;
    font-style: italic;
}


    
    </style>  
<section class="container" >

    <div class="row">
        <div class="col-12">
            <div class="p-2 mb-4 mt-3 ">
                <div class="container-fluid py-5">                    
                    {% if tipo == 'R' %}
                        <h1 style="color: rgb(0, 119, 203); font-family: sans-serif; font-size: 2.6rem" class="display-5 fw-bold">{{ Titulo }} PROPUESTA DE RESPUESTA ASESORIA URBANA</h1>
                    {% else %}
                        <h1 style="color: rgb(0, 119, 203); font-family: sans-serif; font-size: 2.6rem" class="display-5 fw-bold">{{ Titulo }} PROPUESTA DE AMPARO ASESORIA URBANA</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        



        <div class="accordion" id="accordionExample">

            

          <form action="" method='POST' enctype="multipart/form-data">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="Fecha_ingreso_DAJ"><b>Fecha de respuesta a DAJ</b></label>
                        <input type="date" class="form-control" id="Fecha_ingreso_DAJ" name="Fecha_ingreso_DAJ" value="{{ Respuesta.fecha_daj|date:'Y-m-d' }}" placeholder="Fecha_ingreso_DAJ">
                    </div> 
                </div>
            </div>
            
        


            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="respuesta"><b>Respuesta</b></label>
                        <textarea class="form-control" id="respuesta" name="respuesta" rows="3">{{ Respuesta.respuesta }}</textarea>
                    </div>
                </div>
            </div>
            

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="archivo_adjunto"><b>Archivos adjuntos</b></label>
                        <br><br>
                        <label for="archivo_adjunto" class="custom-file-upload">
                            <input type="file" id="archivo_adjunto" name="archivo_adjunto" accept=".pdf" multiple onchange="mostrarNombreArchivo('archivo_adjunto', 'nombre_archivo_seleccionado_1', 'eliminar_archivo_1')">
                            1. Folio (consulta desde consejo transparencia)
                        </label>
                        <span id="nombre_archivo_seleccionado_1">
                            {% if Respuesta.archivo_adjunto %}
                                {{ Respuesta.archivo_adjunto.name }}
                            {% endif %}
                        </span>
                        <button type="button" id="eliminar_archivo_1" style="display: none;" onclick="eliminarArchivo('archivo_adjunto', 'nombre_archivo_seleccionado_1', 'eliminar_archivo_1')">Eliminar</button>
                        <br><br>
                        
                        <label for="archivo_adjunto_2" class="custom-file-upload">
                            <input type="file" id="archivo_adjunto_2" name="archivo_adjunto_2" accept=".docx" onchange="mostrarNombreArchivo('archivo_adjunto_2', 'nombre_archivo_seleccionado_2', 'eliminar_archivo_2')">
                            2. Propuesta de respuesta (Respaldo)
                        </label>
                        <span id="nombre_archivo_seleccionado_2">
                            {% if Respuesta.archivo_adjunto_2 %}
                                {{ Respuesta.archivo_adjunto_2.name }}
                            {% endif %}
                        </span>
                        <button type="button" id="eliminar_archivo_2" style="display: none;" onclick="eliminarArchivo('archivo_adjunto_2', 'nombre_archivo_seleccionado_2', 'eliminar_archivo_2')">Eliminar</button>
                        <br><br>
                        
                        <label for="archivo_adjunto_3" class="custom-file-upload">
                            <input type="file" id="archivo_adjunto_3" name="archivo_adjunto_3" accept=".pdf" multiple onchange="mostrarNombreArchivo('archivo_adjunto_3', 'nombre_archivo_seleccionado_3', 'eliminar_archivo_3')">
                            3. Adjuntos (plano, decreto, pdf)
                        </label>
                        <span id="nombre_archivo_seleccionado_3">
                            {% if Respuesta.archivo_adjunto_3 %}
                                {{ Respuesta.archivo_adjunto_3.name }}
                            {% endif %}
                        </span>
                        <button type="button" id="eliminar_archivo_3" style="display: none;" onclick="eliminarArchivo('archivo_adjunto_3', 'nombre_archivo_seleccionado_3', 'eliminar_archivo_3')">Eliminar</button>
                        <br><br>
                    </div>
                </div>
            </div>
            
            
            
            
            <br>
            <br>




      <div class="row m-3">
          <div class="col-12">
              <button hr class="btn btn-purple" type="submit">Guardar Respuesta</button>
          </div>
      </div>
      </form>
     

        </div>

            
        </div>
      </div>

    </div>
</section>
{% endblock main_content %}

{% block custom_js %}
<script>
    function obtenerFechaActual() {
        const ahora = new Date();
        const anio = ahora.getFullYear();
        let mes = ahora.getMonth() + 1;
        let dia = ahora.getDate();
    
        // Agregar cero delante si el mes o el día son menores que 10
        mes = mes < 10 ? '0' + mes : mes;
        dia = dia < 10 ? '0' + dia : dia;
    
        return anio + '-' + mes + '-' + dia;
    }
    
    // Obtener elementos de fecha de entrada
    const FechaingresoDAJ = document.getElementById('Fecha_ingreso_DAJ');
    
    // Establecer la fecha máxima permitida como la fecha actual
    FechaingresoDAJ.setAttribute('max', obtenerFechaActual());
    
    function mostrarNombreArchivo(inputId, spanId, spanEliminarId) {
    var input = document.getElementById(inputId);
    var nombreArchivo = document.getElementById(spanId);
    var eliminarArchivo = document.getElementById(spanEliminarId);

    nombreArchivo.innerHTML = ''; // Limpiar el contenido anterior
    if (input.files.length > 0) {
        for (var i = 0; i < input.files.length; i++) {
            var fileName = document.createElement('span');
            fileName.textContent = input.files[i].name + ' ';
            nombreArchivo.appendChild(fileName);
        }
        nombreArchivo.style.display = 'inline';
        eliminarArchivo.style.display = 'inline';
    } else {
        nombreArchivo.style.display = 'none';
        nombreArchivo.innerHTML = '';
        eliminarArchivo.style.display = 'none';
    }
}

function eliminarArchivo(inputId, spanId, spanEliminarId) {
    var input = document.getElementById(inputId);
    var nombreArchivo = document.getElementById(spanId);
    var eliminarArchivo = document.getElementById(spanEliminarId);

    input.value = ''; // Eliminar el archivo cargado
    nombreArchivo.style.display = 'none';
    nombreArchivo.innerHTML = ''; // Limpiar el texto del nombre del archivo
    eliminarArchivo.style.display = 'none';
}

document.querySelector('form').addEventListener('submit', function(event) {
    var inputFecha = document.getElementById("Fecha_ingreso_DAJ").value;
    var regex = /^\d{4}-\d{2}-\d{2}$/; // Expresión regular para AAAA-MM-DD

    if (!regex.test(inputFecha)) {
        alert("Por favor, ingresa una Fecha de respuesta a DAJ.");
        event.preventDefault(); // Evitar que el formulario se envíe si la validación falla
    }
});

    </script>
    
{% endblock custom_js %}