{% extends 'core/base.html' %}

{% load static %}

{% block main_content%}
<style>
    .mi-enlace {
      padding: 12px 24px;
      font-size: 18px;
      border-radius: 25px;
      background-color: #ff9800;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease, color 0.2s ease; /* Agregamos color a la transición */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /* Estilo al pasar el mouse por encima */
    .mi-enlace:hover {
      background-color: #ffba68;
      transform: translateY(-2px);
    }
    
    /* Estilo cuando se hace clic */
    .mi-enlace:active {
      transform: translateY(0);
      box-shadow: none;
      color: #fff; /* Mantenemos el color del texto como blanco al hacer clic */
    }
    

    
    </style>  
<section class="container" >
  
    <div class="row">
        <div class="col-12">
            <div class="p-2 mb-4 mt-3 ">
                <div class="container-fluid py-5">
                    <h1 style="color: rgb(0, 157, 255); font-family: sans-serif" class="display-5 fw-bold">CREACIÓN DE FICHA TRANSPARENCIA - SECRETARIA COMUNAL DE PLANIFICACION</h1>
                </div>
            </div>
        </div>




        <div class="accordion" id="accordionExample">

          <form action="#" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

          <div class="accordion-item" style="color: #ad33af;">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    1.- Fechas de ingreso
                </button>
            </h2>

        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">

          <div class="accordion-body">

              <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="Fecha_ingreso_t"><b>Fecha Ingreso al Portal Transparencia</b></label>
                        <input type="date" class="form-control" id="Fecha_ingreso_t" name="Fecha_ingreso_t" placeholder="Fecha_ingreso_t">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="Fecha_ingreso_AU"><b>Fecha Ingreso SECPLA</b></label>
                        <input type="date" class="form-control" id="Fecha_ingreso_AU" name="Fecha_ingreso_AU" placeholder="Fecha_ingreso_AU">
                    </div> 
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="N_transparencia"><b>N° Transparencia </b></label>
                        <input type="text" class="form-control" id="N_transparencia" name="N_transparencia" placeholder="A123">
                    </div>
                </div>
            </div>

              
              </div>

          </div>
        </div>

        <div class="accordion-item" style="color: #7a017c;">
          <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                  2.- Datos de Transparencia
              </button>
          </h2>

      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="dirigido"><b>A quien direge su solicitud</b></label>
                        <input type="text" class="form-control" id="dirigido" name="dirigido" value="" disabled placeholder="Municipalidad de Valparaíso">
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="region"><b>Región</b></label>
                        <input type="text" class="form-control" id="region" name="region" value="" disabled placeholder="Región de Valparaiso"> 
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="recepcion"><b>Vía de recepción de solicitud</b></label>

                        <select class="form-control" id="recepcion" name="recepcion" >
                            <option value = "{{ recepcion.RECEPCION_CHOICES }}" selected></option>
                            {% for recepciones in OPTIONS.RECEPCION_CHOICES %}
                                <option value="{{ recepciones.0 }}">{{ recepciones.1 }}</option>
                            {% endfor %}
                        </select>         

                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="e_email"><b>Correo electrónico</b></label>
                        <input type="text" class="form-control" id="e_email" name="e_email" value="" >
                    </div>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="solicitud_text"><b> Detalle de solicitud</b></label>
                        <textarea type="text" class="form-control" id="solicitud_text" name="solicitud_text" value="" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="observaciones"><b>Observaciones de la solicitud</b></label>
                        <textarea type="text" class="form-control" id="observaciones" name="observaciones" value="" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="archivo_adjunto"><b>Archivos adjuntos (que trae la solicitud)</b></label>
                        <br>
                        <br>

                        <input type="file" class="form-control-file" id="archivo_adjunto" name="archivo_adjunto" value="" >
                        
                    </div>
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="soporte"><b>Soporte deseado</b></label>
                        <input type="text" class="form-control" id="soporte" name="soporte" value="" >
                    </div>
                </div>
            </div>

            <br>
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="formato"><b>Formato deseado</b></label>
                        <input type="text" class="form-control" id="formato" name="formato" value="" >
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label"><b>Solicitante Inicia Sesión en Portal de Transparencia </b></label>
                        <br><br>
                        <label for="si_option">
                            <b>Si</b>
                            <input type="radio" id="si_option" name="solicitante_inicio_seccion" value="Si">
                        </label>
                        <br>
                        <br><br>
                        <label for="no_option">
                            <b>No</b>
                            <input type="radio" id="no_option" name="solicitante_inicio_seccion" value="No" checked>
                        </label>
                    </div>
                </div>
            </div>
            
            <br><br>


            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="forma_de_recepccion"><b>Forma de recepcción de la solicitud</b></label>

                        <select class="form-control" id="forma_de_recepccion" name="forma_de_recepccion" >
                            <option value = "{{ forma_de_recepccion.RECEPCION_CHOICES }}" selected></option>
                            {% for forma_de_recepcciones in OPTIONS.RECEPCION_CHOICES %}
                                <option value="{{ forma_de_recepcciones.0 }}">{{ forma_de_recepcciones.1 }}</option>
                            {% endfor %}
                        </select>         

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="form-label" for="otra_forma_De_entrega"><b>Otro formato de entrega</b></label>
                        <input type="text" class="form-control" id="otra_forma_De_entrega" name="otra_forma_De_entrega" value="" >
                    </div>
                </div>
            </div>
            

        </div>
      </div>
    </div>
      <div class="accordion-item" style="color: rgb(141, 0, 0);">
        <h2 class="accordion-header" id="headingTree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTree" aria-expanded="false" aria-controls="collapseOne">
                3.- Datos de la persona
            </button>
        </h2>

    <div id="collapseTree" class="accordion-collapse collapse" aria-labelledby="headingTree" data-bs-parent="#accordionExample">
      <div class="accordion-body">


        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="persona"><b>Persona</b></label>
                    <select class="form-control" id="persona" name="persona" >
                        <option value="{{ persona.RESPUESTA_PERSONA_CHOICES }}" selected></option>
                        {% for persona_natural in OPTIONS.RESPUESTA_PERSONA_CHOICES %}
                            <option value="{{ persona_natural.0 }}">{{ persona_natural.1 }}</option>
                        {% endfor %}
                    </select>         
                </div>
            </div>
        </div>


          <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="nombre_o_razon_social"><b>Nombre o Razón Social</b></label>
                    <input type="text" class="form-control" id="nombre_o_razon_social" name="nombre_o_razon_social" value="" >
                </div>
            </div>
        </div>

          <div class="row">
              <div class="col-12">
                  <div class="form-group">
                      <label class="form-label" for="primer_apellido"><b>Primer Apellido</b></label>
                      <input type="text" class="form-control" id="primer_apellido" name="primer_apellido" value="" >
                  </div>
              </div>
          </div>

          <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="segundo_apellido"><b>Segundo Apellido</b></label>
                    <input type="text" class="form-control" id="segundo_apellido" name="segundo_apellido" value="" >
                </div>
            </div>
        </div>
          

         </div>
        </div>
    </div>

    {% if departamento.nombre_departamento == 'ADMIN' %}
    <div class="accordion-item" style="color: rgb(141, 0, 0);">
        <h2 class="accordion-header" id="heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseOne">
                4.- Departamento asociado a la ficha (SOLO ADMINISTRADOR)
            </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="departamento_admin"><b>Departamento </b></label>
                            <select class="form-control" id="departamento_admin" name="departamento_admin">
                                <option value="" selected></option>
                                {% for departamento_option in departamento_choices %}
                                    <option value="{{ departamento_option.0 }}">{{ departamento_option.1 }}</option>
                                {% endfor %}
                            </select>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}



      </div>


      <div class="row m-3">
          <div class="col-12">
              <button hr class="btn btn-primary" type="submit">Generar nueva ficha</button>
          </div>
      </div>
      </form>
     

        </div>

            
        </div>
      </div>

    </div>
</section>
{% endblock main_content %}

{% block custom_js %}
<!-- DESACTIVAR O ACTIVAR INSERT DE OTROS -->
<script>
function obtenerFechaActual() {
    const ahora = new Date();
    const anio = ahora.getFullYear();
    let mes = ahora.getMonth() + 1;
    let dia = ahora.getDate();

    // Agregar cero delante si el mes o el día son menores que 10
    mes = mes < 10 ? '0' + mes : mes;
    dia = dia < 10 ? '0' + dia : dia;

    return anio + '-' + mes + '-' + dia;
}

// Obtener elementos de fecha de entrada
const fechaTransparencia = document.getElementById('Fecha_ingreso_t');
const fechaAsesoriaUrbana = document.getElementById('Fecha_ingreso_AU');

// Establecer la fecha máxima permitida como la fecha actual
fechaTransparencia.setAttribute('max', obtenerFechaActual());
fechaAsesoriaUrbana.setAttribute('max', obtenerFechaActual());

</script>  
{% endblock custom_js %}