{% extends 'core/base.html' %}

{% load static %}

{% block main_content %}
<style>

td.invisible {
    display: none;
}

th.invisible {
    display: none;
}

.ellipses {
  display: inline;
}

.contenido-oculto {
  display: none;
}

.mostrar-mas {
    color: blue;
    cursor: pointer;
}

.mostrar-mas:hover {
    text-decoration: underline;
}
.resaltado {
    background-color: orange;
}
th {
        font-size: 13px; /* Puedes ajustar el tamaño de la fuente según tu preferencia */
        font-weight: bold; /* Opcional: hacer el texto en negrita */
    }
</style>
<section class="container">
    <br>
    <div class="row" style="width: 100%;">
        
        <div style="display: flex; justify-content: center;">
            <table id="tabla_fichas" class="display table table-striped table-bordered table-sm" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 105px;">Ingreso a Portal de Trans.</th>
                        <th style="width: 110px;">Ingreso a Asesoria Urbana</th>
                        <th style="width: 150px;">Nombre y Apellido / Razón Social</th>
                        <th style="width: 50px;">N° Folio</th>
                        <th>Estado</th>
                        <th class="th_buttons">Acciones</th>
                        <th class="invisible">Solicitud</th>
                        <th>Respuesta</th>
                        <th>Fecha Limite</th>
                        <th style="width: 115px;">Departamento</th>
                        <th style="width: 60px;">Días Rest. (Hábiles)</th> <!-- Nueva columna para los días restantes (solo días hábiles) -->
                    </tr>
                </thead>
                <tbody>
                    {% for Solicitud, respuesta, Departamento in solicitud_respuesta_list %}
                    <tr>
                        <td>{{ Solicitud.id }}</td>
                        <td>{{ Solicitud.fecha_i_t }}</td>
                        <td>{{ Solicitud.fecha_i_au }}</td>
                        <td>{{ Solicitud.nombre_o_razon_social }} {{ Solicitud.primer_apellido }}</td>
                        <td>{{ Solicitud.N_transparencia }}</td>
                        <td>{{ Solicitud.estado }}</td>
            
                        <td class="td_buttons">
                            <a href="#" class="btn btn-purple preview-link" data-id="{{ Solicitud.id }}">Ver Solicitud</a>                  
                        
                            {% if Solicitud.N_transparencia|slice:":1" == 'C' %}
                                <!-- Botones para solicitudes de tipo amparo -->
                                {% if Solicitud.estado == 'Sin responder' %}
                                    <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                {% elif Solicitud.estado == 'Amparado' %}
                                    <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                    <a href="#" class="btn btn-purple preview-res-amparo-link" data-id="{{ Solicitud.id }}">Ver Propuesta Amparo</a>
                                {% endif %}
                            {% else %}
                                <!-- Botones para solicitudes de tipo normal -->
                                {% if Solicitud.estado == 'Sin responder' %}
                                    <a href="{% url 'respuesta' Solicitud.id %}" class="btn btn-purple">Propuesta de respuesta</a>
                                {% elif Solicitud.estado == 'Respondida' %}
                                    <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                    <a href="{% url 'respuesta_edit' respuesta.id %}" class="btn btn-purple">Editar Propuesta de Respuesta</a>
                                    <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                    <a href="#" class="btn btn-purple preview-res-amparo-link" data-id="{{ Solicitud.id }}">Ver Propuesta Amparo</a>
                                    {% if not Solicitud.prorroga_realizada %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                            Solicitar Prórroga
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-secondary" disabled>
                                            Prórroga Realizada
                                        </button>
                                    {% endif %}
                                {% elif Solicitud.estado == 'Amparado' %}
                                    <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                    <a href="{% url 'respuesta_edit' respuesta.id %}" class="btn btn-purple">Editar Propuesta de Respuesta</a>
                                    <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                    <a href="#" class="btn btn-purple preview-res-amparo-link" data-id="{{ Solicitud.id }}">Ver Propuesta Amparo</a>
                                    {% if not Solicitud.prorroga_realizada %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                            Solicitar Prórroga
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-secondary" disabled>
                                            Prórroga Realizada
                                        </button>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        
                            <!-- Modal para ingresar la cantidad de días de prórroga -->
                            <div class="modal fade" id="prorrogaModal-{{ Solicitud.id }}" tabindex="-1" aria-labelledby="prorrogaModalLabel-{{ Solicitud.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="prorrogaModalLabel-{{ Solicitud.id }}">Solicitar Prórroga</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="prorrogaForm-{{ Solicitud.id }}" method="POST" action="{% url 'prorroga' Solicitud.id %}">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="diasProrroga-{{ Solicitud.id }}" class="form-label">Cantidad de días:</label>
                                                    <input type="number" class="form-control" id="diasProrroga-{{ Solicitud.id }}" name="dias_prorroga" min="1" max="10" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        
            
                        <td class="invisible">{{ Solicitud.solicitud_text }}</td>
                        <td class="respuesta">{{ respuesta.respuesta }}</td>
                        <td>{{ Solicitud.fecha_limite }}</td>
                        {% if departamento.nombre_departamento == 'ADMIN' %}
                        <td>{{ Solicitud.Departamento_admin }}</td>
                        {% else %}
                        <td>{{ Departamento.nombre_departamento }}</td>
                        {% endif %}
            
                        <td class="td_dias_restantes"> <!-- Nueva columna para los días restantes (solo días hábiles) -->
                            <script>
                                function calcularDiasHabiles(fechaInicio, fechaFin) {
                                    var fechaInicioMillis = new Date(fechaInicio).getTime();
                                    var fechaFinMillis = new Date(fechaFin).getTime();
                                    var diasHabiles = 0;
                        
                                    while (fechaInicioMillis <= fechaFinMillis) {
                                        var diaSemana = new Date(fechaInicioMillis).getDay();
                                        if (diaSemana !== 0 && diaSemana !== 6) {
                                            diasHabiles++;
                                        }
                                        fechaInicioMillis += 24 * 60 * 60 * 1000;
                                    }
                        
                                    return diasHabiles;
                                }
                        
                                var fechaLimite = '{{ Solicitud.fecha_limite }}';
                                var diasHabilesRestantes = calcularDiasHabiles(new Date().toISOString().slice(0, 10), fechaLimite);
                        
                                // Asignar color según los días restantes
                                var color;
                                var background_color;
                                if (diasHabilesRestantes <= 4) {
                                    color = 'white'; // Rojo si quedan 5 días hábiles o menos
                                    background_color = '#E73C45';
                                } else if (diasHabilesRestantes <= 9) {
                                    color = 'black'; // Amarillo si quedan entre 6 y 10 días hábiles
                                    background_color = '#F7EA53';
                                } else {
                                    color = 'white'; // Verde si quedan más de 10 días hábiles
                                    background_color = '#4BBFE0';
                                }
                        
                                // Mostrar el número de días con el color correspondiente y aplicar clase
                                var diasRestantesElement = document.currentScript.parentElement;
                                diasRestantesElement.style.backgroundColor = background_color;
                                diasRestantesElement.style.color = color;
                                diasRestantesElement.classList.add('dias-' + (diasHabilesRestantes <= 5 ? 'urgente' : (diasHabilesRestantes <= 10 ? 'alerta' : 'normal')));
                                diasRestantesElement.innerHTML = diasHabilesRestantes;
                            </script>
                        </td>
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">No hay datos</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            
        </div>
    </div>
    <!-- Modal para mostrar la vista previa -->
        <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #c2c5c3;">
                    <h5 class="modal-title" style="color: white;" id="previewModalLabel">Vista previa de solicitud</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="previewData">
                    <!-- Aquí se mostrará la información de la solicitud -->
                </div>
            </div>
        </div>
        </div>

        <!-- Modal para mostrar la vista previa de la respuesta -->
    <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">Vista previa de la respuesta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="previewData">
                    <!-- Aquí se mostrarán los detalles de la respuesta -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock main_content %}

{% block custom_js %}


<script>
    $(document).ready(function () {
        function procesarContenidoExtendido() {
            $('.respuesta').each(function () {
                var $respuesta = $(this);
                var contenido = $respuesta.data('original-text');
                
                if (!contenido) {
                    contenido = $respuesta.text().trim();
                    $respuesta.data('original-text', contenido);
                }
    
                if (contenido.length > 170) {
                    var recortado = contenido.substring(0, 170);
                    var restante = contenido.substring(170);
                    $respuesta.html(recortado + '<span class="mostrar-mas">... <a href="#" class="enlace-mostrar">Mostrar más</a></span><span class="texto-restante" style="display:none;">' + restante + ' <a href="#" class="enlace-ocultar">Mostrar menos</a></span>');
                } else {
                    $respuesta.html(contenido);
                }
            });
        }
    
        function resaltarPalabrasBuscadas() {
            var searchTerm = $('#tabla_fichas_filter input').val().trim();
            if (searchTerm !== '') {
                var regex = new RegExp('(' + searchTerm.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&') + ')', 'ig');
                $('.respuesta').each(function() {
                    var originalText = $(this).data('original-text');
                    if (!originalText) {
                        originalText = $(this).text();
                        $(this).data('original-text', originalText);
                    }
                    var highlightedText = originalText.replace(regex, '<span class="resaltado">$1</span>');
                    var contenidoLength = originalText.length;
                    if (contenidoLength > 250) {
                        var recortado = highlightedText.substring(0, 250);
                        var restante = highlightedText.substring(250);
                        $(this).html(recortado + '<span class="mostrar-mas">... <a href="#" class="enlace-mostrar">Mostrar más</a></span><span class="texto-restante" style="display:none;">' + restante + ' <a href="#" class="enlace-ocultar">Mostrar menos</a></span>');
                    } else {
                        $(this).html(highlightedText);
                    }
                });
            } else {
                procesarContenidoExtendido();
            }
        }
    
        var tabla = $('#tabla_fichas').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json'
            },
            initComplete: function () {
                $("#tabla_fichas").show();
                procesarContenidoExtendido();
            },
            drawCallback: function () {
                resaltarPalabrasBuscadas();
            },
            "rowCallback": function (row, data, index) {
                resaltarPalabrasBuscadas();
            }
        });
    
        // Filtrar la tabla cuando se realiza una búsqueda
        $('#tabla_fichas_filter input').on('keyup', function () {
            tabla.search(this.value).draw();
        });
    
        // Delegación de eventos para mostrar y ocultar más texto
        $('#tabla_fichas tbody').on('click', '.enlace-mostrar', function (e) {
            e.preventDefault();
            var $respuesta = $(this).closest('.respuesta');
            $respuesta.find('.texto-restante').show();
            $respuesta.find('.mostrar-mas').hide();
        });
    
        $('#tabla_fichas tbody').on('click', '.enlace-ocultar', function (e) {
            e.preventDefault();
            var $respuesta = $(this).closest('.respuesta');
            $respuesta.find('.texto-restante').hide();
            $respuesta.find('.mostrar-mas').show();
    
            // Volver a la posición inicial de la respuesta
            $respuesta[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
        });
    });
</script>
    
      
    


<script>
var previewLinks = document.querySelectorAll('.preview-link');
previewLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
        event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

        var solicitudId = this.getAttribute('data-id'); // Obtener el ID de la solicitud

        // Hacer una solicitud AJAX a la vista 0de Django para obtener los datos de la solicitud
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/accion/vista_previa_solicitud/' + solicitudId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);

                // Construir el texto con los datos de la solicitud
                var previewDataText = 'Fecha de la Solicitud: ' + data.fecha_i_t + '\n' +
                                      'Fecha de la Asesoría Urbana: ' + data.fecha_i_au + '\n' +
                                      'N° de Transparencia: ' + data.N_transparencia + '\n' +
                                      'Dirigido a: ' + data.dirigido + '\n' +
                                      'Región: ' + data.region + '\n' +
                                      'Recepción: ' + data.recepcion + '\n' +
                                      'Correo Electrónico: ' + data.email + '\n' +
                                      'Texto de la Solicitud: ' + data.solicitud_text + '\n' +
                                      'Observaciones: ' + data.observaciones + '\n' +
                                      'Soporte: ' + data.soporte + '\n' +
                                      'Formato: ' + data.formato + '\n' +
                                      'Solicitante Inicia Sesión: ' + (data.solicitante_inicio_seccion ? 'Sí' : 'No') + '\n' +
                                      'Forma de Recepción: ' + data.forma_de_recepccion + '\n' +
                                      'Otra Forma de Entrega: ' + data.otra_forma_De_entrega + '\n' +
                                      'Persona: ' + data.persona + '\n' +
                                      'Nombre o Razón Social: ' + data.nombre_o_razon_social + '\n' +
                                      'Primer Apellido: ' + data.primer_apellido + '\n' +
                                      'Segundo Apellido: ' + data.segundo_apellido + '\n';

                var previewDataElement = document.getElementById('previewData');
                previewDataElement.innerText = previewDataText;

                // Si hay un archivo adjunto, agregar enlace de descarga
                if (data.archivo_adjunto_url) {
                    previewDataElement.innerHTML += '<br><a href="' + data.archivo_adjunto_url + '" download>Descargar Archivo Adjunto</a>';
                }

                $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
            }
        };
        xhr.send();
    });
});
</script>

<script>
    function addPreviewEventListener(selector, tipo) {
        var previewLinks = document.querySelectorAll(selector);
        previewLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
        
                var solicitudId = this.getAttribute('data-id'); // Obtener el ID de la solicitud
        
                // Hacer una solicitud AJAX a la vista de Django para obtener los datos de la solicitud
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/accion/vista_previa_respuesta/' + solicitudId + '?tipo=' + tipo, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);

                        var previewDataText = '';
                        if (data.respuestas) {
                            data.respuestas.forEach(function(respuesta, index) {
                                previewDataText += 'Respuesta ' + (index + 1) + ': ' + respuesta.respuesta + '<br>' +
                                                   'Fecha DAJ: ' + respuesta.fecha_daj + '<br>';

                                // Si hay un archivo adjunto, agregar enlace de descarga
                                if (respuesta.archivo_adjunto_url) {
                                    previewDataText += '<a href="' + respuesta.archivo_adjunto_url + '" download>Descargar Archivo Folio</a><br>';
                                }
                                if (respuesta.archivo_adjunto_url_2) {
                                    previewDataText += '<a href="' + respuesta.archivo_adjunto_url_2 + '" download>Descargar Archivo Propuesta de respuesta</a><br>';
                                }
                                if (respuesta.archivo_adjunto_url_3) {
                                    previewDataText += '<a href="' + respuesta.archivo_adjunto_url_3 + '" download>Descargar Archivo Adjunto (Planos, Decretos, PDF, etc)</a><br>';
                                }
                                previewDataText += '<a href="respuesta_edit/' + respuesta.id + '" class="btn btn-purple" style="margin-bottom: 0px;">Editar Respuesta de Amparo</a><br>';

                                previewDataText += '<hr>';
                            });
                        } else if (data.respuesta) {
                            previewDataText = 'Fecha DAJ: ' + data.fecha_daj + '<br>' +
                                              'Respuesta: ' + data.respuesta + '<br>';

                            // Si hay un archivo adjunto, agregar enlace de descarga
                            if (data.archivo_adjunto_url) {
                                previewDataText += '<a href="' + data.archivo_adjunto_url + '" download>Descargar Archivo Folio</a><br>';
                            }
                            if (data.archivo_adjunto_url_2) {
                                previewDataText += '<a href="' + data.archivo_adjunto_url_2 + '" download>Descargar Archivo Propuesta de respuesta</a><br>';
                            }
                            if (data.archivo_adjunto_url_3) {
                                previewDataText += '<a href="' + data.archivo_adjunto_url_3 + '" download>Descargar Archivo Adjunto (Planos, Decretos, PDF, etc)</a><br>';
                            }
                        }
    
                        var previewDataElement = document.getElementById('previewData');
                        previewDataElement.innerHTML = previewDataText;
        
                        $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
                    }
                };
                xhr.send();
            });
        });
    }

    // Agregar los listeners para los diferentes tipos de enlaces
    addPreviewEventListener('.preview-res-amparo-link', 'A');
    addPreviewEventListener('.preview-res-respuesta-link', 'R');
</script>



{% endblock custom_js %}