{% extends 'core/base.html' %}

{% load static %}

{% block main_content %}

<section class="container">
    <div class="row">
        <div class="col-12 pt-3">
            <table id="tabla_fichas" class="display table table-striped table-bordered table-sm" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>N° transparencia</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Solicitud, respuesta in solicitud_respuesta_list %}
                    <tr>
                            <td>{{ Solicitud.id }}</td>
                            <td>{{ Solicitud.fecha_i_t }}</td>
                            <td>{{ Solicitud.N_transparencia }}</td>
                            <td>{{ Solicitud.estado }}</td>
                

                            <td> 
                                <a href="#" class="btn btn-purple preview-link" data-id="{{ Solicitud.id }}">Ver</a>
                                {% if Solicitud.estado == "Sin responder"  %}
                                    <a href="{% url 'respuesta' Solicitud.id %}" class="btn btn-purple">Propuesta de respuesta</a>
                                {% endif %}

                                {% if Solicitud.estado == "Respondida"  %}
                                    <a href="#" class="btn btn-purple preview-res-link" data-id="{{ respuesta.id }}">Ver Propuesta respuesta</a>
                                {% endif %}

                                
                             

                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>No hay datos</td>
                            <td>No hay datos</td>
                            <td>No hay datos</td>
                            <td>No hay datos</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal para mostrar la vista previa -->
        <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #707eff;">
                    <h5 class="modal-title" id="previewModalLabel">Vista previa de solicitud</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="previewData">
                    <!-- Aquí se mostrará la información de la solicitud -->
                </div>
            </div>
        </div>
        </div>


</section>
{% endblock main_content %}

{% block custom_js %}
<script>
    document.getElementById("tabla_fichas").style.display = "none";
    $(document).ready( function () {
        $('#tabla_fichas').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json'
            }, 
            initComplete: function () {
                $("#tabla_fichas").show();
            }
        });
    } );
</script>
<script>
var previewLinks = document.querySelectorAll('.preview-link');
previewLinks.forEach(function(link) {
    link.addEventListener('click', function(event) {
        event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

        var solicitudId = this.getAttribute('data-id'); // Obtener el ID de la solicitud

        // Hacer una solicitud AJAX a la vista de Django para obtener los datos de la solicitud
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/accion/vista_previa_solicitud/' + solicitudId, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);

                // Construir el texto con los datos de la solicitud
                var previewDataText = 'Fecha de la Solicitud: ' + data.fecha_i_t + '\n' +
                                      'Fecha de la Asesoría Urbana: ' + data.fecha_i_au + '\n' +
                                      'N° de Transparencia: ' + data.N_transparencia + '\n' +
                                      'Dirigido a: ' + data.dirigido + '\n' +
                                      'Región: ' + data.region + '\n' +
                                      'Recepción: ' + data.recepcion + '\n' +
                                      'Correo Electrónico: ' + data.email + '\n' +
                                      'Texto de la Solicitud: ' + data.solicitud_text + '\n' +
                                      'Observaciones: ' + data.observaciones + '\n' +
                                      'Soporte: ' + data.soporte + '\n' +
                                      'Formato: ' + data.formato + '\n' +
                                      'Solicitante Inicia Sesión: ' + (data.solicitante_inicio_seccion ? 'Sí' : 'No') + '\n' +
                                      'Forma de Recepción: ' + data.forma_de_recepccion + '\n' +
                                      'Otra Forma de Entrega: ' + data.otra_forma_De_entrega + '\n' +
                                      'Persona: ' + data.persona + '\n' +
                                      'Nombre o Razón Social: ' + data.nombre_o_razon_social + '\n' +
                                      'Primer Apellido: ' + data.primer_apellido + '\n' +
                                      'Segundo Apellido: ' + data.segundo_apellido + '\n';

                var previewDataElement = document.getElementById('previewData');
                previewDataElement.innerText = previewDataText;

                // Si hay un archivo adjunto, agregar enlace de descarga
                if (data.archivo_adjunto_url) {
                    previewDataElement.innerHTML += '<br><a href="' + data.archivo_adjunto_url + '" download>Descargar Archivo Adjunto</a>';
                }

                $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
            }
        };
        xhr.send();
    });
});
</script>

<script>
    var previewLinks = document.querySelectorAll('.preview-res-link');
    previewLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
    
            var solicitudId = this.getAttribute('data-id'); // Obtener el ID de la solicitud
    
            // Hacer una solicitud AJAX a la vista de Django para obtener los datos de la solicitud
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/accion/vista_previa_respuesta/' + solicitudId, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var data = JSON.parse(xhr.responseText);
    
                    // Construir el texto con los datos de la solicitud
                    var previewDataText = 'Respuesta: ' + data.respuesta + '\n';

    
                    var previewDataElement = document.getElementById('previewData');
                    previewDataElement.innerText = previewDataText;
    
                    // Si hay un archivo adjunto, agregar enlace de descarga
                    if (data.archivo_adjunto_url) {
                        previewDataElement.innerHTML += '<br><a href="' + data.archivo_adjunto_url + '" download>Descargar Archivo Adjunto</a>';
                    }
    
                    $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
                }
            };
            xhr.send();
        });
    });
    </script>
    

    
{% endblock custom_js %}
