{% extends 'core/base.html' %}

{% load static %}

{% block main_content %}
<style>

td.invisible {
    display: none;
}

th.invisible {
    display: none;
}

.ellipses {
  display: inline;
}

.contenido-oculto {
  display: none;
}

.mostrar-mas {
    color: blue;
    cursor: pointer;
}

.mostrar-mas:hover {
    text-decoration: underline;
}
.resaltado {
    background-color: orange;
}
th {
        font-size: 13px; /* Puedes ajustar el tamaño de la fuente según tu preferencia */
        font-weight: bold; /* Opcional: hacer el texto en negrita */
    }


</style>
<section class="container">
    <br>
    <div class="row" style="width: 100%;">
        
        <div style="display: flex; justify-content: center;">
            <table id="tabla_fichas" class="display table table-striped table-bordered table-sm" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 105px;">Ingreso a Portal de Trans.</th>
                        <th style="width: 110px;">Ingreso a Asesoria Urbana</th>
                        <th style="width: 150px;">Nombre y Apellido / Razón Social</th>
                        <th style="width: 50px;">N° Folio</th>
                        <th>Estado</th>
                        <th class="th_buttons">Acciones</th>
                        <th class="invisible">Solicitud</th>
                        <th>Respuesta</th>
                        <th>Fecha Limite</th>
                        <th style="width: 115px;">Departamento</th>
                        <th style="width: 60px;">Días Rest. (Hábiles)</th> <!-- Nueva columna para los días restantes (solo días hábiles) -->
                    </tr>
                </thead>
                <tbody>
                    {% for Solicitud, respuesta, Departamento in solicitud_respuesta_list %}
                    <tr>
                        <td>{{ Solicitud.id }}</td>
                        <td>{{ Solicitud.fecha_i_t|date:"M. d, Y" }}</td>
                        <td>{{ Solicitud.fecha_i_au|date:"M. d, Y" }}</td>
                        <td>{{ Solicitud.nombre_o_razon_social }} {{ Solicitud.primer_apellido }}</td>
                        <td>{{ Solicitud.N_transparencia }}</td>
                        <td>{{ Solicitud.estado }}  <br> {{ respuesta.fecha_daj }}</td>
            
                        <td class="td_buttons">
                            <a href="#" class="btn btn-purple preview-link" data-id="{{ Solicitud.id }}">Ver Solicitud</a>                  
                        
                            {% if departamento.nombre_departamento == 'ADMIN' %}
                                <!-- Botones para ADMIN -->
                                {% if Solicitud.N_transparencia|slice:":1" == 'C' %}
                                    <!-- Botones para solicitudes de tipo amparo -->
                                    {% if Solicitud.estado == 'Sin responder' %}
                                        <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                    {% elif Solicitud.estado == 'Amparo Respondido' %}
                                        <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                    {% elif Solicitud.estado == 'Respondida con Amparo Incluido' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                    {% endif %}
                                {% else %}
                                    <!-- Botones para solicitudes de tipo normal -->
                                    {% if Solicitud.estado == 'Sin responder' %}
                                        <a href="{% url 'respuesta' Solicitud.id %}" class="btn btn-purple">Propuesta de respuesta</a>
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% elif Solicitud.estado == 'Respondida' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="{% url 'respuesta_edit' respuesta.id %}?tipo=R" class="btn btn-primary">Editar Propuesta de Respuesta</a>

                                        {% comment %} <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a> {% endcomment %}
                                        {% comment %} <a href="#" class="btn btn-purple preview-res-amparo-link" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a> {% endcomment %}
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% elif Solicitud.estado == 'Amparo Respondido' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% elif Solicitud.estado == 'Respondida con Amparo Incluido' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <!-- Botones para otros departamentos -->
                                {% if Solicitud.N_transparencia|slice:":1" == 'C' %}
                                    <!-- Botones para solicitudes de tipo amparo -->
                                    {% if Solicitud.estado == 'Sin responder' %}
                                        <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                    {% elif Solicitud.estado == 'Amparo Respondido' %}
                                        <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                    {% elif Solicitud.estado == 'Respondida con Amparo Incluido' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                    {% endif %}
                                {% else %}
                                    <!-- Botones para solicitudes de tipo normal -->
                                    {% if Solicitud.estado == 'Sin responder' %}
                                        <a href="{% url 'respuesta' Solicitud.id %}" class="btn btn-purple">Propuesta de respuesta</a>
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% elif Solicitud.estado == 'Respondida' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>            

                                        {% comment %} <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a> {% endcomment %}
                                        {% comment %} <a href="#" class="btn btn-purple preview-res-amparo-link" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a> {% endcomment %}
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% elif Solicitud.estado == 'Amparo Respondido' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="{% url 'respuesta' Solicitud.id %}?tipo=A" class="btn btn-purple">Propuesta de Amparo</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% elif Solicitud.estado == 'Respondida con Amparo Incluido' %}
                                        <a href="#" class="btn btn-purple preview-res-respuesta-link" data-id="{{ Solicitud.id }}">Ver Propuesta Respuesta</a>
                                        <a href="#" class="btn btn-purple preview-res-amparo-link" style="font-size: 11.73px;" data-id="{{ Solicitud.id }}">Ver Propuesta de Respuesta de Amparo</a>
                                        {% if not Solicitud.prorroga_realizada %}
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prorrogaModal-{{ Solicitud.id }}">
                                                Solicitar Prórroga
                                            </button>
                                        {% else %}
                                            <button type="button" class="btn btn-secondary" disabled>
                                                Prórroga Realizada
                                            </button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        
                            <!-- Modal para ingresar la cantidad de días de prórroga -->
                            <div class="modal fade" id="prorrogaModal-{{ Solicitud.id }}" tabindex="-1" aria-labelledby="prorrogaModalLabel-{{ Solicitud.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="prorrogaModalLabel-{{ Solicitud.id }}">Solicitar Prórroga</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="prorrogaForm-{{ Solicitud.id }}" method="POST" action="{% url 'prorroga' Solicitud.id %}">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="diasProrroga-{{ Solicitud.id }}" class="form-label">Cantidad de días:</label>
                                                    <input type="number" class="form-control" id="diasProrroga-{{ Solicitud.id }}" name="dias_prorroga" min="1" max="10" required>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        
                        
                        
            
                        <td class="invisible">{{ Solicitud.solicitud_text }}</td>
                        <td class="respuesta">{{ respuesta.respuesta }}</td>
                        <td>{{ Solicitud.fecha_limite|date:"M. d, Y" }}</td>
                        <td>{{ Departamento.nombre_departamento }}</td>
            
                        <td class="td_dias_restantes">
                            <script>
                                // Función para calcular los días hábiles entre dos fechas, incluyendo el primer día
                                function calculateBusinessDays(startDate, endDate) {
                                    let count = 0;
                                    let curDate = new Date(startDate.getTime());
                        
                                    // Si la fecha de inicio es el mismo día que la fecha actual, inclúyela en el conteo
                                    if (startDate.toDateString() === curDate.toDateString()) {
                                        count++;
                                    }
                        
                                    while (curDate < endDate) {
                                        const dayOfWeek = curDate.getDay();
                                        if (dayOfWeek !== 0 && dayOfWeek !== 6) { // No contar sábados y domingos
                                            count++;
                                        }
                                        curDate.setDate(curDate.getDate() + 1);
                                    }
                        
                                    return count;
                                }
                        
                                // Función para convertir una fecha en formato "MMM. d, Y" o "DD de MMMM de YYYY" a un objeto Date
                                function parseDate(dateStr) {
                                    if (!dateStr || typeof dateStr !== 'string') {
                                        console.error('Invalid date string:', dateStr);
                                        return null;
                                    }
                        
                                    // Intentar parsear formato "MMM. d, Y"
                                    let dateParts = dateStr.split(', ');
                                    if (dateParts.length === 2) {
                                        const [monthDay, year] = dateParts;
                                        const [monthStr, day] = monthDay.split(' ');
                        
                                        const months = {
                                            'Ene.': 0, 'Feb.': 1, 'Mar.': 2, 'Abr.': 3, 'May.': 4, 'Jun.': 5,
                                            'Jul.': 6, 'Ago.': 7, 'Sep.': 8, 'Oct.': 9, 'Nov.': 10, 'Dic.': 11
                                        };
                        
                                        const monthIndex = months[monthStr];
                                        if (monthIndex !== undefined) {
                                            return new Date(year, monthIndex, day);
                                        }
                                    }
                        
                                    // Intentar parsear formato "DD de MMMM de YYYY"
                                    dateParts = dateStr.split(' de ');
                                    if (dateParts.length === 3) {
                                        const [day, month, year] = dateParts;
                        
                                        const months = {
                                            'enero': 0, 'febrero': 1, 'marzo': 2, 'abril': 3, 'mayo': 4, 'junio': 5,
                                            'julio': 6, 'agosto': 7, 'septiembre': 8, 'octubre': 9, 'noviembre': 10, 'diciembre': 11
                                        };
                        
                                        const monthIndex = months[month.toLowerCase()];
                                        if (monthIndex !== undefined) {
                                            return new Date(year, monthIndex, day);
                                        }
                                    }
                        
                                    return null;
                                }
                        
                                document.addEventListener('DOMContentLoaded', function() {
                                    // Obtener todas las filas del cuerpo de la tabla
                                    const rows = document.querySelectorAll('#tabla_fichas tbody tr');
                        
                                    rows.forEach(row => {
                                        // Obtener las celdas de fecha límite y estado/fecha DAJ
                                        const fechaLimiteCell = row.querySelector('td:nth-child(10)');
                                        const fechaITCell = row.querySelector('td:nth-child(2)');
                                        const estadoFechaDAJCell = row.querySelector('td:nth-child(6)'); // Asumiendo que la columna de estado/fecha DAJ es la sexta
                        
                                        if (fechaLimiteCell && fechaITCell && estadoFechaDAJCell) {
                                            // Obtener las fechas y estado/fecha DAJ como cadenas de texto
                                            const fechaLimiteStr = fechaLimiteCell.innerText.trim();
                                            const fechaITStr = fechaITCell.innerText.trim();
                                            const estadoFechaDAJStr = estadoFechaDAJCell.innerHTML.trim().split('<br>'); // Separar estado y fecha DAJ
                        
                                            const estado = estadoFechaDAJStr[0].trim();
                                            const fechaDAJStr = estadoFechaDAJStr[1] ? estadoFechaDAJStr[1].trim() : null;
                        
                                            // Convertir las fechas de cadena de texto a objetos Date
                                            const fechaLimite = parseDate(fechaLimiteStr);
                                            const fechaIT = parseDate(fechaITStr);
                                            const fechaDAJ = fechaDAJStr ? parseDate(fechaDAJStr) : null;
                                            const fechaActual = new Date();                            
                        
                                            if (fechaLimite && fechaIT) {
                                                // Calcular los días hábiles entre la fecha actual y la fecha límite
                                                const diasRestantes = calculateBusinessDays(fechaIT, fechaLimite);
                                                // Colocar el resultado en la celda correspondiente y cambiar el color de fondo
                                                const diasRestantesCell = row.querySelector('.td_dias_restantes');
                                                if (diasRestantesCell) {
                                                    if (estado === 'Amparo Respondido' || estado === 'Respondida') {
                                                        diasRestantesCell.innerHTML = '<span class="material-symbols-outlined" style="font-size: 35px !important;">task_alt</span>';
                                                        diasRestantesCell.style.backgroundColor = '#19e67f';
                                                        diasRestantesCell.style.color = '#ffffff'; // Contraste con el fondo azul
                                                    } else {
                                                        diasRestantesCell.innerText = diasRestantes;
                        
                                                        if (diasRestantes <= 3) {
                                                            diasRestantesCell.style.backgroundColor = '#E73C45';
                                                            diasRestantesCell.style.color = '#ffffff'; // Contraste con el fondo rojo
                                                        } else if (diasRestantes <= 10) {
                                                            diasRestantesCell.style.backgroundColor = '#F7EA53';
                                                            diasRestantesCell.style.color = '#000000'; // Contraste con el fondo amarillo
                                                        } else {
                                                            diasRestantesCell.style.backgroundColor = '#4BBFE0';
                                                            diasRestantesCell.style.color = '#ffffff'; // Contraste con el fondo azul
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    });
                                });
                            </script>
                        </td>
                        
                        
                        
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11">No hay datos</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            
        </div>
    </div>
    <!-- Modal para mostrar la vista previa -->
        <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #c2c5c3;">
                    <h5 class="modal-title" style="color: white;" id="previewModalLabel">Vista previa de solicitud</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="previewData">
                    <!-- Aquí se mostrará la información de la solicitud -->
                </div>
            </div>
        </div>
        </div>

        <!-- Modal para mostrar la vista previa de la respuesta -->
    <div class="modal fade" id="previewModal" tabindex="-1" aria-labelledby="previewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="previewModalLabel">Vista previa de la respuesta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="previewData">
                    <!-- Aquí se mostrarán los detalles de la respuesta -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock main_content %}

{% block custom_js %}


<script>
    $(document).ready(function () {
        function procesarContenidoExtendido() {
            $('.respuesta').each(function () {
                var $respuesta = $(this);
                var contenido = $respuesta.data('original-text');
                
                if (!contenido) {
                    contenido = $respuesta.text().trim();
                    $respuesta.data('original-text', contenido);
                }
    
                if (contenido.length > 170) {
                    var recortado = contenido.substring(0, 170);
                    var restante = contenido.substring(170);
                    $respuesta.html(recortado + '<span class="mostrar-mas">... <a href="#" class="enlace-mostrar">Mostrar más</a></span><span class="texto-restante" style="display:none;">' + restante + ' <a href="#" class="enlace-ocultar">Mostrar menos</a></span>');
                } else {
                    $respuesta.html(contenido);
                }
            });
        }
    
        function resaltarPalabrasBuscadas() {
            var searchTerm = $('#tabla_fichas_filter input').val().trim();
            if (searchTerm !== '') {
                var regex = new RegExp('(' + searchTerm.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&') + ')', 'ig');
                $('.respuesta').each(function() {
                    var originalText = $(this).data('original-text');
                    if (!originalText) {
                        originalText = $(this).text();
                        $(this).data('original-text', originalText);
                    }
                    var highlightedText = originalText.replace(regex, '<span class="resaltado">$1</span>');
                    var contenidoLength = originalText.length;
                    if (contenidoLength > 250) {
                        var recortado = highlightedText.substring(0, 250);
                        var restante = highlightedText.substring(250);
                        $(this).html(recortado + '<span class="mostrar-mas">... <a href="#" class="enlace-mostrar">Mostrar más</a></span><span class="texto-restante" style="display:none;">' + restante + ' <a href="#" class="enlace-ocultar">Mostrar menos</a></span>');
                    } else {
                        $(this).html(highlightedText);
                    }
                });
            } else {
                procesarContenidoExtendido();
            }
        }
    
        var tabla = $('#tabla_fichas').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json'
            },
            initComplete: function () {
                $("#tabla_fichas").show();
                procesarContenidoExtendido();
            },
            drawCallback: function () {
                resaltarPalabrasBuscadas();
            },
            "rowCallback": function (row, data, index) {
                resaltarPalabrasBuscadas();
            }
        });
    
        // Filtrar la tabla cuando se realiza una búsqueda
        $('#tabla_fichas_filter input').on('keyup', function () {
            tabla.search(this.value).draw();
        });
    
        // Delegación de eventos para mostrar y ocultar más texto
        $('#tabla_fichas tbody').on('click', '.enlace-mostrar', function (e) {
            e.preventDefault();
            var $respuesta = $(this).closest('.respuesta');
            $respuesta.find('.texto-restante').show();
            $respuesta.find('.mostrar-mas').hide();
        });
    
        $('#tabla_fichas tbody').on('click', '.enlace-ocultar', function (e) {
            e.preventDefault();
            var $respuesta = $(this).closest('.respuesta');
            $respuesta.find('.texto-restante').hide();
            $respuesta.find('.mostrar-mas').show();
    
            // Volver a la posición inicial de la respuesta
            $respuesta[0].scrollIntoView({ behavior: 'smooth', block: 'center' });
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var previewLinks = document.querySelectorAll('.preview-link');

        previewLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

                var solicitudId = this.getAttribute('data-id'); // Obtener el ID de la solicitud

                // Hacer una solicitud AJAX a la vista de Django para obtener los datos de la solicitud
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/accion/vista_previa_solicitud/' + solicitudId, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);

                        // Construir el texto con los datos de la solicitud
                        var previewDataText = '<strong>N° de Folio:</strong>                         ' + data.N_transparencia + '\n' +
                                              '<strong>Ingreso a Asesoria Urbana:</strong>           ' + data.fecha_i_au + '\n' +
                                              '<strong>Ingreso a Portal de Transparencia:</strong>   ' + data.fecha_i_t + '\n' +
                                              '<strong>Dirigido a:</strong>                          ' + data.dirigido + '\n' +
                                              '<strong>Región:</strong>                              ' + data.region + '\n' +
                                              '<strong>Recepción:</strong>                           ' + data.recepcion + '\n' +
                                              '<strong>Correo Electrónico:</strong>                  ' + data.email + '\n' +
                                              '<strong>Texto de la Solicitud:</strong>               \n' + data.solicitud_text + '\n' +
                                              '\n<strong>Observaciones:</strong>                       ' + data.observaciones + '\n' +
                                              '<strong>Soporte:</strong>                             ' + data.soporte + '\n' +
                                              '<strong>Formato:</strong>                             ' + data.formato + '\n' +
                                              '<strong>Solicitante Inicia Sesión:</strong>           ' + (data.solicitante_inicio_seccion ? 'Sí' : 'No') + '\n' +
                                              '<strong>Forma de Recepción:</strong>                  ' + data.forma_de_recepccion + '\n' +
                                              '<strong>Otra Forma de Entrega:</strong>               ' + data.otra_forma_De_entrega + '\n' +
                                              '<strong>Persona:</strong>                             ' + data.persona + '\n' +
                                              '<strong>Nombre o Razón Social:</strong>               ' + data.nombre_o_razon_social + '\n' +
                                              '<strong>Primer Apellido:</strong>                     ' + data.primer_apellido + '\n' +
                                              '<strong>Segundo Apellido:</strong>                    ' + data.segundo_apellido + '\n';

                        var previewDataElement = document.getElementById('previewData');
                        previewDataElement.innerHTML = '<div class="monospace">' + previewDataText + '</div>';

                        // Si hay un archivo adjunto, agregar enlace de descarga
                        if (data.archivo_adjunto_url) {
                            previewDataElement.innerHTML += '<br><a class="monospace" href="' + data.archivo_adjunto_url + '" download>Descargar Archivo Adjunto</a>';
                        }

                        // Agregar botón de edición
                        previewDataElement.innerHTML += '<br><a href="/accion/editar_solicitud/' + solicitudId + '" class="btn btn-primary">Editar Solicitud</a>';

                        $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
                    }
                };
                xhr.send();
            });
        });
    });
</script>






<script>
    function addPreviewEventListener(selector, tipo) {
        var previewLinks = document.querySelectorAll(selector);
        previewLinks.forEach(function(link) {
            link.addEventListener('click', function(event) {
                event.preventDefault(); // Evitar el comportamiento predeterminado del enlace

                var solicitudId = this.getAttribute('data-id'); // Obtener el ID de la solicitud

                // Hacer una solicitud AJAX a la vista de Django para obtener los datos de la solicitud
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/accion/vista_previa_respuesta/' + solicitudId + '?tipo=' + tipo, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);

                        // Construir el texto con los datos de la respuesta
                        var previewDataText = '';
                        if (data.respuestas && data.respuestas.length > 0) {
                            data.respuestas.forEach(function(respuesta, index) {
                                previewDataText += '<strong>Fecha de Respuesta DAJ:</strong> ' + respuesta.fecha_daj + '<br>' +
                                                   '<strong>Respuesta ' + (index + 1) + ':</strong><br>' +
                                                   '<div class="respuesta-content">' + respuesta.respuesta + '</div><br>';

                                // Si hay un archivo adjunto, agregar enlace de descarga
                                if (respuesta.archivo_adjunto_url) {
                                    previewDataText += '<a href="' + respuesta.archivo_adjunto_url + '" download>Descargar Archivo Folio</a><br>';
                                }
                                if (respuesta.archivo_adjunto_url_2) {
                                    previewDataText += '<a href="' + respuesta.archivo_adjunto_url_2 + '" download>Descargar Archivo Propuesta de respuesta</a><br>';
                                }
                                if (respuesta.archivo_adjunto_url_3) {
                                    previewDataText += '<a href="' + respuesta.archivo_adjunto_url_3 + '" download>Descargar Archivo Adjunto (Planos, Decretos, PDF, etc)</a><br>';
                                }
                                
                                // Verificar si el tipo es 'A' y el usuario es ADMIN para mostrar el botón de edición
                                if (tipo === 'A' && data.departamento && data.departamento === 'ADMIN') {
                                    previewDataText += '<a href="respuesta_edit/' + respuesta.id + '?tipo=A" class="btn btn-purple" style="margin-bottom: 0px;">Editar Respuesta de Amparo</a><br>';

                                }

                                previewDataText += '<hr>';
                            });
                        } else if (tipo === 'A') {
                            // Si no hay respuestas de tipo 'A' (Amparo), mostrar mensaje
                            previewDataText = 'No hay Amparos Disponibles';
                        } else if (data.respuesta) {
                            previewDataText = '<strong>Fecha de Respuesta DAJ:</strong> ' + data.fecha_daj + '<br>' +
                                              '<strong>Respuesta:</strong><br>' +
                                              '<div class="respuesta-content">' + data.respuesta + '</div><br>';

                            // Si hay un archivo adjunto, agregar enlace de descarga
                            if (data.archivo_adjunto_url) {
                                previewDataText += '<a href="' + data.archivo_adjunto_url + '" download>Descargar Archivo Folio</a><br>';
                            }
                            if (data.archivo_adjunto_url_2) {
                                previewDataText += '<a href="' + data.archivo_adjunto_url_2 + '" download>Descargar Archivo Propuesta de respuesta</a><br>';
                            }
                            if (data.archivo_adjunto_url_3) {
                                previewDataText += '<a href="' + data.archivo_adjunto_url_3 + '" download>Descargar Archivo Adjunto (Planos, Decretos, PDF, etc)</a><br>';
                            }

                            // Verificar si el tipo es 'A' y el usuario es ADMIN para mostrar el botón de edición
                            if (tipo === 'A' && data.departamento && data.departamento === 'ADMIN') {
                                previewDataText += '<a href="respuesta_edit/' + respuesta.id + '?tipo=A" class="btn btn-purple" style="margin-bottom: 0px;">Editar Respuesta de Amparo</a><br>';

                            }
                        }

                        var previewDataElement = document.getElementById('previewData');
                        previewDataElement.innerHTML = '<div class="monospace">' + previewDataText + '</div>';

                        $('#previewModal').modal('show'); // Mostrar el modal utilizando jQuery
                    }
                };
                xhr.send();
            });
        });
    }

    // Agregar los listeners para los diferentes tipos de enlaces
    addPreviewEventListener('.preview-res-amparo-link', 'A');
    addPreviewEventListener('.preview-res-respuesta-link', 'R');
</script>
{% endblock custom_js %}